<!DOCTYPE html>
<html>
<head>
  <title>BookGem</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
<nav class="nav">
  <!-- Only the div inside the anchor is changed, rest remains the same -->
  <a href="http://localhost:3000/">
    <div class="nav-brand">📚 BookGem</div>
  </a>
  <% if controller_name == 'pages' && action_name == 'home' %>
    <div class="nav-links">
      <%= link_to "Log In", new_user_session_path, class: "btn btn-secondary" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
      <%= button_to "Log out", destroy_user_session_path, class: "btn btn-secondary", method: :delete %>
    </div>
  <% end %>
</nav>
<!-- devise elements, leave out for now
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
-->
<%= render "shared/flashes" %>
<%= yield %>
</body>
</html>
